<%- include('partials/header'); -%>
<div class='container'>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class='form-group'>
            <input class='form-control' type="text" name="postTitle" placeholder="Title of your post"
                autocomplete='true'>
        </div>

        <div class='form-group'>    
            <textarea rows='6' class='form-control form-control-lg' type="text" name="postContent"
                placeholder="What's on your mind" autocomplete='true'></textarea>
        </div>

        <button class='btn btn-dark' type="submit" name="button">Publish</button>
    </form>
</div>
<%- include('partials/footer'); -%>