<%- include('partials/header'); -%>
<div class='container'><h1>Compose</h1>
<form action="/" method="post">
<div class='form-group'>
    <input style = 'width: 50%;' class = 'form-control' type="text" name="postSubmit" placeholder="What's on your mind" autocomplete='true'>
</div>
<button class = 'btn btn-dark' type="submit" name="button">Publish</button>
</form></div>
<%- include('partials/footer'); -%>