/* navbar styling */

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 2%;
    border: 0;
    border-radius: 0;
    margin-bottom:5%;
    font-size: 12px;
    letter-spacing: 5px;
    color: black;
}

.navbar a {
    color: black;
}

.navbar-nav li a:hover {
    color: blue !important;
}

/* sticky footer */
.page-footer {
    text-align: center;
    color: white;
    background: #00838f;
}

.page-footer div.row {
    height: 100px;
}

#content {
    min-height: calc(100vh - 70px);
}

footer {
    margin-top:5%;
    height: 200px;
}